#experiments
  %div
    %span
      %h2= "Events for #{params[:month]}/#{params[:day]}/#{params[:year]} #{params[:hour]}:00"
      %h3= "Total Events: #{@total_docs}"
    %div
      - if @event_aggs.empty?
        %hr
        %h3{ :style => "text-align:center" } No events collected
      - else
        %table
          %tbody
            %tr
              %th Event
              %th Occurances
            - @event_aggs.each do |event|
              %tr
                %td= event['key']
                %td= event['doc_count']