#experiments
  %div
    %span
      %span.left
        %h2= @experiment.name
      %span.right
        = link_to "Complete Experiment", apps_path, class: :button

    %table
      %tbody
        %tr
          %th Variation
          %th Participants
          %th Conversions
          %th Conversion Rate
        - @experiment.variations.each do |variation|
          %tr{ data: { target: variation_path(variation) }}
            %td= variation.name
            %td= variation.participants
            %td= variation.converted
            %td= variation.measure.round(4)
  %hr
  %div
    %table
      %tbody
        %tr
          %th Current Best
          %th Current Base
          %th Current Worst
          %th Outcome/Winner
          %tr
            %td{ data: { target: variation_path(@experiment.best) }}
              - if @experiment.best
                = @experiment.best.name
              - else
                N/A
            %td
              - if @experiment.base
                = link_to @experiment.base.name, variation_path(@experiment.base)
              - else
                N/A
            %td
              - if @experiment.worst
                = link_to @experiment.worst.name, variation_path(@experiment.worst)
              - else
                N/A
            %td
              - if @experiment.outcome
                = link_to @experiment.winner.name, variation_path(@experiment.winner)
              - else
                N/A
