
#experiments
  %div
    %span
      %h3= "Total Events: #{@total_count}"
      %span.left
        = label_tag :start_date
        %input#start_date{:type=>"input"}
      %span.right
        = label_tag :end_date
        %input#end_date{:type=>"input"}
    %div
      %br
      %br
      - if @event_aggs.empty?
        %hr
        %h3{ :style => "text-align:center" } No events collected
      - else
        %table
          %tbody
            %tr
              %th Event Name
              %th Occurrence
            - @event_aggs.each do |name,count|
              %tr
                %td= name
                %td= count
%script{ :src => '//code.jquery.com/jquery-1.9.1.js', :type => 'text/javascript', :charset => 'utf-8' }
:javascript
  $(document).ready( function() {


    var onSelectDate = function(){
      var start = $( "#start_date" ).val();
      var end   = $( "#end_date" ).val();

      console.log("Start: "+start +" End: "+end);

    }

    $( "#start_date" ).datepicker({
      onSelect: onSelectDate,
      onClose: function(selectedDate) {
        $( "#end_date" ).datepicker("option", "minDate", selectedDate);
      }
    });
    $( "#end_date" ).datepicker({ 
      maxDate: new Date(),
      onSelect: onSelectDate,
      onClose: function(selectedDate) {
        $( "#start_date" ).datepicker("option", "maxDate", selectedDate);
      }

    });
    $( "#start_date" ).datepicker("setDate", "#{@start.strftime("%m/%d/%Y")}" );
    $( "#end_date" ).datepicker("setDate", "#{@end.strftime("%m/%d/%Y")}");    

  });

