
#experiments
  %div
    %span
      %h3= "Total Events: #{@total_count}"
      %span.left
        = label_tag :start_date
        %input#start_date{:type=>"input"}
      %span.right
        = label_tag :end_date
        %input#end_date{:type=>"input"}
    %div
      %br
      %br
      - if @event_aggs.empty?
        %hr
        %h3{ :style => "text-align:center" } No events collected
      - else
        %table
          %tbody
            %tr
              %th Event Name
              %th Occurrence
            - @event_aggs.each do |name,count|
              %tr
                %td= name
                %td= count
%script{ :src => '//code.jquery.com/jquery-1.9.1.js', :type => 'text/javascript', :charset => 'utf-8' }
:javascript
  $(document).ready( function() {

    / var onStartDateSelect = function(dateText){
    /   console.log("Selected "+dateText);
    / };
    / var onEndDateSelect = function(dateText){
    /   console.log("Selected "+dateText);
    /   var dateItems =  dateText.split('/');
    /   var date = new Date(dateItems[2], dateItems[0], dateItems[1]);
    /   console.log(date);
    /   $( "#start_date" ).datepicker({ maxDate: date });
    /   return true;
    / };

    $( "#start_date" ).datepicker({onSelect: onStartDateSelect});
    $( "#end_date" ).datepicker({onSelect: onEndDateSelect, maxDate: new Date() });
    $( "#start_date" ).datepicker("setDate", "#{@start.strftime("%m/%d/%Y")}" );
    $( "#end_date" ).datepicker("setDate", "#{@end.strftime("%m/%d/%Y")}");

    

  });

